h1{
   background-color: yellow;
   color: blue;
   border-left: 6px orange;
   border-right: 12px green;
   border-top: 20px blue;
   border-bottom: 40px gray;
   border-style: solid ;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}

ul{
    display: block;
    visibility: hidden;
}

.table{
    border-collapse: collapse;
}

tr{
    visibility: hidden;
}
.one{
    padding: 50px 100px 50px 100px;
    border: 2px black;
    background-color: bisque;
}
.two{
    margin-left: 150px;
    border: 2px black;
    background-color: gray;
    height: 50px;
    border-radius: 2px;
}