h1{
    background-color: lawngreen;
    color: blue;
}
h2{
    background-color: yellow;
    color: black;
}
h3{
    background-color:red ;
    color: bisque;
}
h4{
    background-color: deeppink;
    color: darkred;
}
h5{
    background-color: indianred;
    color: aqua;
}
h6{
    background-color: maroon;
    color: yellow;
}