main{
    background-color: gray;
    border: 5px double brown;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    background-color: orange;
    flex-grow: 2;
    flex-basis: 20%;
}

ul{
    justify-content: flex-end;
    display: flex;
    list-style-type: none;
}

li a{
    text-decoration: none;
    padding: 10px;
    color: white;
   
}

.container{
    background-color: white;
    flex-grow: 5;
    flex-basis: 70%;
}

.footer{
    background-color: green;
    flex-grow: 1;
    flex-basis: 10%;
}