main{
    background-color: brown;
    height: 750px;
    width: 750px;
    padding: 50px;
    margin: auto;

}

.a{
    position: relative;
    display: block;
}

img{
    border: 5px solid black;
    border-radius: 20px ;
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 200px;
    float: left;
}

#three{
    height: 600px;
    float: right;
}