p{
    color: hotpink;
    font-style: normal;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}
h1{
    color: red;
    font-size: xx-large;
    font-style: italic;
    font-variant: normal;
}